<ion-header>
  <ion-toolbar>
    <ion-title>Group Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-text>Login <br> App Unitizador</ion-text>
</ion-item>
<ion-card>
    <ion-item>
        <ion-label position="floating">Usuário</ion-label>
        <ion-input></ion-input>
      </ion-item>
    <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input></ion-input>
      </ion-item>
   
</ion-card> 

<ion-button class="ion-text-center" expand="block" color="primary" routerLink="/home" routerDirection="forward">
  <ion-icon name="wallet"></ion-icon>Login
</ion-button>

</ion-content>
