<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Consultas / Impressão <br>Etiqueta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row center>  
        <ion-col text-center>   
         <ion-text>Escaneie a Doc / UA</ion-text>  
        </ion-col> 
       </ion-row>
  <ion-searchbar animated></ion-searchbar>

  <ion-item>
      <ion-label position="stacked">UA</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Documento Saída</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Nota Fiscal</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Cliente</ion-label>
      <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">Volumes</ion-label>
      <ion-input></ion-input>
  </ion-item>
    
  <ion-button expand="block">Imprimir Etiqueta</ion-button>

</ion-content>
