<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fixar Estabelecimento 
      <br> e Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Selecione o Estabelecimento</ion-list-header>
  
    <ion-item>
      <ion-label>Estabelecimento</ion-label>
      <ion-select placeholder="Selecione Um">
        <ion-select-option value="m">01 - Unilog Matriz</ion-select-option>
        <ion-select-option value="f">02 - Unilog Filial</ion-select-option>
        <ion-select-option value="i">04 - Agila Import</ion-select-option>
        <ion-select-option value="g">05 - Unilog G4</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Selecione o Depositante</ion-label>
      <ion-select placeholder="Selecione Um" okText="Confirmar" cancelText="Cancelar">
        <ion-select-option value="s">Servier</ion-select-option>
      </ion-select>
    </ion-item>
    
  
  </ion-list> 

  <ion-button expand="block" routerLink="/login" routerDirection="forward" class="ion-text-center">
    confirmar
  </ion-button>
  
</ion-content>
